.DS_Store
.python-version
.env
.pyenv
.venv
.flaskenv
*.pyc
*.pyo
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
node_modules/
__pycache__
__pypackages__

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
