ENVIRONMENT=default

DB_URL=postgresql://user:password@localhost:5432/ecb_borrowing

ECB_API_URL=https://data-api.ecb.europa.eu/service/data/YC/...
SERIES_KEY=FM.M.U2.EUR.4F.BB.U2.2250.Z01.A

ALLOWED_ORIGINS=http://localhost:3000

DEBUG=False
